/* General values to shrink tables and cells to the minimum fit over their content */
table
{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

td
{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, p
{
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, Sans-Serif;
}

p
{
    margin-top: 0px;
    font-size: 18px;
}

/* Used for main titles. */
h1
{
    font-size: 42px;
}


/* Used for text on tabs. */
h3
{
    margin-bottom: 0px;
    font-size: 20px;
}

/* Used for regular text. */
h6
{
    font-size: 18px;
}

#newstable_containertable
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* TODO: Merge this with #productsection_contentcell in Product.css */
#containertable
{
    /* background: #8DADE6; */
    /* background: radial-gradient(#CFDBFF, #A4BFEC, #497CD7); */
    width: 100%;
}

#gearcommunityimagecell
{
    position: relative;
    padding: 10px;
    text-align: center;
}

#newstable
{
    margin: 10px;
}

#newstable
{
    margin: 10px;
}

#containertable_fillercell_right
{
    width: 100%;
}

.NewsImage 
{
    position: relative;
}

.NewsDel {
    position: absolute;
    top: -10px;
    left: 0px;
    width: 25px;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.NewsEdit 
{
    position: absolute;
    top: -15px;
    left: 30px;
    width: 50px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20%;
    background-color: Blue;
    font-size: 16px;
    font-weight: bold;
    color: White;
}

#NewsAdd {
    position: absolute;
    top: 85px;
    left: 0px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20%;
    background-color: green;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
