/* General values to shrink tables and cells to the minimum fit over their content */


td
{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

/* NOTE: margin must be specified in the specific cases of h1, h2 etc. to space text rows */
h1, h2, h3, h4, h5, h6, p
{
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, Sans-Serif;
    line-height: 0.0;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    text-shadow: 1px 1px 2px black; /* Not supported in the CSS 2.1 standard, but will show in most modern browsers. */
}

/* Used for main titles. */
h1
{
    font-size: 42px;
    line-height: 1.8;
    /*margin-top: 26px;
    margin-bottom: 26px;*/ /* Margins is an alternative to line-height to change the distance to elements other than text on top or bottom of the text. */
}


/* Used for text on tabs. */
h3
{
    font-size: 20px;
    line-height: 1.20;
}

/* Used for regular text. */
h6
{
    font-size: 18px;
    line-height: 1.3;
    /*margin-top: 6px;
    margin-bottom: 6px;*/
}

#productsection_table {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
    border-collapse: collapse;
}

#productsection_table tr {
    width: 100%;
}

.productsection_tab_text
{
    text-align: center;
}

.productsection_tab_design
{
    width: 140px;
    height: 50px;
    
    border-right: 2px;
    border-style: solid;
    border-color: #203447;
}

.productsection_tab_unselected
{
    background: #8DADE6; /* For browsers that do not support gradients */
    /* TODO: Determine if specific browser cases are needed */
    /*background: -webkit-radial-gradient(#5555FF, #5555FF, #5555FF);*/ /* Safari */
    /*background: -o-radial-gradient(#5555FF, #5555FF, #5555FF);*/ /* Opera */
    /*background: -moz-radial-gradient(#5555FF, #5555FF, #5555FF);*/ /* Firefox */
    background: radial-gradient(#DBEBF9, #8DADE6, #497CD7); /* Standard syntax (must be last) */
}

.productsection_tab_selected
{
    background: #3964AD;
    background: radial-gradient(#3E6CBC, #3964AD, #335898);
}

.productsection_tab_hover
{
    background: #497CD7;
    background: radial-gradient(#8DADE6, #497CD7, #3964AD);
}

#productsection_contentcell
{
    /*border: 2px solid #203447;*/
    border-top: 2px solid #203447;
    background: #8DADE6;
    background: radial-gradient(#CFDBFF, #A4BFEC, #497CD7);
    vertical-align: top;
}

/* Design for the table containing the content (such as logo image, content text etc.) in the product section. */
#productsection_contenttable
{
    margin: 10px;
}

/* Specific properties for the logo image in the content table in the product section */
#content_logoimg
{
    width: 250px;
    height: 250px;
}

#Comments
{
    data-width="100%";
    data-numposts="5";
}

/* Hide elements at startup */
#general_product_rating,
#general_product_share,
#content_section_text,
#sysreq_section_text
{
    display: none;
}

#share_table
{
    margin: 10px;    
}
#share_table_cell
{
    margin: 100px;
}
